<a class="hero-item-link" href="/#profile/{{battleTagURL}}/hero/{{heroId}}">
  <div class="hero-item-title"><h4>{{name}}</h4><span>{{level}} {{class}}</span></div>
  <div class="hero-item-account">{{battleTag}} (<span>{{paragonLevel}}</span>)</div>
</a>