{{#if battleTag}}<h1>{{battleTag}} (<span class="paragon">{{paragonLevel}}</span>)</h1>{{/if}}
<div class="search">
  <input class="search-input" type="text" placeholder="BattleTag Lookup">
  <div class="loading is-hidden">
    <img src="/img/loading.gif">
  </div>
  <div class="recent-heroes">
    <h3>Recent Heroes</h3>
    <div class="recent-heroes-data"></div>
  </div>
</div>

<div class="heroes is-hidden">
  <ul class="heroes-list">
    {{#each heroes}}
      <li>
        <button type="button" data-id="{{id}}">
          <span class="hero-portrait hero-{{gender}} hero-{{class}}"></span>
          <span class="hero-name">{{name}}<em>{{uiClass}}</em></span>
          <span class="hero-level">{{level}}</span>
        </button>
      </li>
    {{/each}}
  </ul>
</div>

<div class="paperdoll is-hidden"></div>
<div class="tooltip is-hidden"></div>